<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>{% block title %}Frank's Blog{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/ghostwriter-master/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/static/ghostwriter-master/assets/css/nprogress.css" />
    <link rel="stylesheet" type="text/css" href="/static/ghostwriter-master/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin,cyrillic-ext,latin-ext,cyrillic" />

</head>
<body>
    <div id="container" class="site-header">
        <div id="menu" class="site-title-wrapper">

                <!--menu-->
                 <h1 class="site-title"><a title="Frank's Blog" href="/">Frank's Blog</a></h1>

                 <h1 class="site-title"><a title="新增文章" href="/admin/blog/post/add">+文章</a></h1>

                 <h1 class="site-title"><a title="管理页面" href="/admin">管理员</a></h1>
        </div>

        <div class="container">
            {% block nav-global %}{% endblock %}
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>

    </div>
    <div id="footer"></div>
</body>
</html>